/*
Beige: #F7F3EB
Cream: #FDFAF6
Light Sage: #E4EFE7
Sage: #99BC85
Dark Green: #286141
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1{
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #286141;
}

body{
    background-color: #F7F3EB;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.title-logo{
    width: 200px;
    height: auto;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}

nav a{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: color .75s ease, transform .75s ease;
    font-size: 18px;
    display: inline-block;
}

nav a:hover{
    color: #286141;
    transition: all .5s ease;
    transform: scale(1.1);
}

main{
    padding: 60px 40px;
    text-align: center;
}
.logo{
    width: 200px;
    height: auto;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #286141;
}

p{
    font-size: 1.2rem;
    color: #333;
}
